<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,960}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,960}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{1,963},{960,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,960}</string>
                <key>spriteSourceSize</key>
                <string>{960,960}</string>
                <key>textureRect</key>
                <string>{{963,1},{960,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1924,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:876f7ff58210b592caea9b4f67a1328c:44aad17a2fb1123ef6870d1d63d32ed4:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
