<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{503,1},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1005,1},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1507,1},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1,246},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{503,246},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1005,246},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,243}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{1507,246},{500,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animation.png</string>
            <key>size</key>
            <string>{2008,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30abe57f2c6e1f19ef164daf24f4dc0:07f5e8342625398cd11c47f8888fde7a:935ea5c547feccc8f1bd2ec0e1a13b5f$</string>
            <key>textureFileName</key>
            <string>Animation.png</string>
        </dict>
    </dict>
</plist>
